@import url(common.css);

body {
	font-family: 'Noto Sans', sans-serif;
	background: #eee;
}

header{
  width: 100%;
  height: 50px;
  background-color: #2b2f3a;
  position:relative;  
  z-index:100;  /*메뉴가 맨 위에 오게 함*/ 
}
nav{
  width: 1200px;
  height: inherit;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
nav h1{ /* logo */
  width: 30%;
}

/* Main Menu */
.gnb{
  /* border: 1px solid yellow; */
  width: 70%;
  display: flex;
	/* justify-content: space-around; ->벌어진 간격없애기*/
}
.gnb .main{
  /* border: 1px solid red; */
  width: 150px;
  text-align: center;
}
.gnb>.main>a{
  /* border: 1px solid blue; */
  position: relative;
  display: block;
  width: inherit;
  height: 50px;
  color: #7a8189;
  font-size: 15px;
	font-weight: 600;
  box-sizing: border-box;
  line-height: 50px; 
}
.gnb>.main>a:after{
  content:"\f0dd";
	font-family: fontawesome;
	position: absolute;
  right: 10px;
  color: #7a8189;
}
.gnb>.main:hover>a{color: #fff;}
.gnb>.main:hover>a:after {color: #fff;}

/* Sub Menu*/
.sub_all {
	display: none;  /*서브메뉴 감추기->jQuery에서 보이게 함*/
  position:absolute;
	top:100%; 
  z-index:200;
  padding-top:10px; 
	border-left:solid 1px #e8e8e8;
	width:150px;
	height:220px;
  background: #fff;
}
.first{border-left:none;}
/*일반구조선택자 first-child 는 연속된 목록에서 찾기 때문에 클래스를 만들어서 적용함*/
.sub_all li{
  width: inherit;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition:all 0.4s;
}
.sub_all li:hover {
	background: #dbe4ea;
}
.sub_all li a {
	color: #666;
	font-size: 14px;
}

/*100%서브배경박스*/
.sub_bgbox{ 
  display:none;
  position: absolute;
  top: 100%;
  left: 0;
	width:100%;
	height:230px; 
	background: #fff;
 /* background: rgba(0,0,0,0.5); ->서브배경박스를 투명하게 할때*/
 /* background:url(../image/smenu_img5.jpg) no-repeat 25% 20px #fff; ->왼쪽에 이미지를 넣을때*/
}
