@import url(common.css);

body {
	font-family: 'Noto Sans', sans-serif;
	background: #eee;
}

header{
  width: 100%;
  height: 50px;
  background-color: #2b2f3a;
}
nav{
  width: 1200px;
  height: inherit;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
nav h1{ /* logo */
  width: 30%;
}

/* Main Menu */
.gnb{
  /* border: 1px solid yellow; */
  width: 70%;
  display: flex;
	justify-content: space-around;
}
.gnb .main{
  /* border: 1px solid red; */
  width: 150px;
  text-align: center;
  position: relative;
  transition: 0.35s;
}
.gnb .main:hover{background-color: #dbe4ea;}
.gnb>.main>a{
  /* border: 1px solid blue; */
  display: block;
  color: #7a8189;
  font-size: 15px;
	font-weight: 600;
  box-sizing: border-box;
  line-height: 50px; 
}
.gnb>.main:hover>a{color: #333;}


/* Sub Menu*/
.sub {
	display: none;  /*서브메뉴 감추기->jQuery에서 보이게 함*/
  position: absolute;
  top: 100%;
  z-index: 200;
}
.sub li{
  float: left;
  padding: 0px 20px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sub li a {
	color: #666;
	font-size: 14px;
}
.sub li:hover a{color: crimson;}

/*서브메뉴 가로폭,나오는위치값->부모영역을 벗어나서 위치를 잡기 위함*/
.s1{left:-50px;width:450px;}
.s2{left:-100px;width:505px;}
.s3{left:-50px;width:330px;}
.s4{left:-70px;width:270px;}
.s5{left:-30px;width:200px;}

/*100%서브배경박스->jQuery에서 보이게 함*/
.bg_box{ 
  display:none;
  position: absolute;
  top: 50px;
  left: 0;
	width:100%;
	height:40px; 
	background:#dbe4ea;
}