@import url(common.css);

body{background-color: #eee;}

header{
  width: 100%;
  height: 50px;
  background-color: #2b2f3a;
}
nav{
  width: 1200px;
  height: inherit;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav h1{
  /* border: 1px solid yellow; */
  flex: 2;
}

/* Main Menu */
.gnb{
  /* border: 1px solid green; */
  height: 50px;
  flex: 6;
  display: flex;
  justify-content: flex-end;
  text-align: center;
}
.gnb>.main{
  width: 150px;
}
.gnb>.main>a{
  /* border: 1px solid red; */
  display: block;
  position: relative;
  width: inherit;
  height: 50px;
  /* line-height: 50px; ->화살표의 위치가 수직으로 변경되어서 사용하면 안됨*/
  color: #7a8189;
  padding-top: 12px;
  box-sizing: border-box;
  font-size: 15px;
	font-weight: 600;
  text-transform: uppercase;
}
.gnb>.main>a:after{ /*삼각형*/
  content: "\f0de" ;
  font-family: fontawesome;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  opacity: 0;
  transition: 0.35s;
}
.gnb>.main:hover>a{color: #fff;}
.gnb>.main:hover>a:after{
  opacity: 1;
  top: 44px;
}

/* Sub Menu*/
.sub{
  /* display: none; */
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  position: relative;
}
.sub li{
  height: 40px;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: center;
  align-items: center;

}
.sub li:last-child{border-bottom: none;}
.sub li a {
	color: #666;
	font-size: 14px;
}
.sub li:hover a{color: crimson;}

/*서브메뉴 가로폭,나오는위치값->부모영역을 벗어나서 위치를 잡기 위함*/
.s1{width: 450px;left:-70px}
.s2{width: 510px;left:-100px}
.s3{width: 330px;left:-50px}
.s4{width: 270px;left:-70px}
.s5{width: 200px;left:-30px}