@import url(common.css);
body{background:#eee;}

header{
	width:100%;
	height:287px;
	background:url(../image/sub_topvisual.jpg) no-repeat center top;
	position:relative;  
	z-index:1000;  /*메뉴가 맨 위에 오게 함*/ 	
}

/*=============================== 검색,로고,유틸메뉴*/

.top{width:100%;}
.top_in{
  /* border: 1px solid red; */
	width:1200px;
	height:90px;
	margin:auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* 검색 */
.search{flex: 2;}
.search .text{   /*input박스*/
	height:20px;
	background:transparent;  /*배경색 투명하게*/
	border-bottom:solid 1px #fff;
	border-style:none none solid none;   /*상,우,하,좌*/
	color:#fff;  /*placeholder 글자색 변경 ->익스,파이어폭스에서만 적용*/
	text-indent:5px;
}
input::placeholder{color:#fff;}
.search i{   /*아이콘폰트*/
	color:#fff;
	vertical-align:top;
}

/* 로고 */
.logo{flex: 5;}
.logo h1{text-align:center;}

/* 유틸메뉴 */

.util{flex: 1;}
.util_menu{
  display: flex;
}
.util_menu li a{
	display:block;
  padding : 0 5px;
	color:#fff;
	font-size:13px;
}
.util_menu li a:hover{color:#ccc;}


/*=============================== 탑메뉴*/

.gnb{
	width:100%;
	height:50px;
	border-top:1px solid #989a9a;
	border-bottom:1px solid #989a9a;
	text-align:center;
	/* background:pink; */
}


/* ///// 주메뉴 ///// */

.gnbMenu, .gnbMenu_fix{
	width: 1200px;
  margin: auto;
  display: flex;
  justify-content: center;
}
.gnbMenu>li,.gnbMenu_fix>li{
	width:200px;
	position:relative;
}
.gnbMenu>li>a, .gnbMenu_fix>li>a{
	display:block;
	color:#fff;
	font-size:15px;
	font-weight:600;
	line-height:50px;
	text-align:center;
}
.gnbMenu>li:hover>a,.gnbMenu_fix>li:hover>a{color:#23b5e0;}

.gnbMenu>li span, .gnbMenu_fix>li span{  /*삼각형아래로*/
	width:0;
	height:0;
	border-left:5px solid transparent;
	border-right:5px solid transparent;
	border-top:5px solid #fff;
	position:absolute;
	top:20px;
	right:15px;
}
.gnbMenu>li:hover span,.gnbMenu_fix>li:hover span{border-top:5px solid #23b5e0;}


/* ///// 서브메뉴 ///// */

.smenu, .smenu_fix{
	display:none;
	position:absolute;
	top:100%;
	z-index:1000;
	border-left:solid 1px #e8e8e8;
	width:200px;
	height:200px;  
	background:#fff;	
}
.last{border-right:solid 1px #e8e8e8;}
.smenu li,.smenu_fix li{
	padding:5px 0px;
	text-align:center;
	transition:all 0.4s;
}
.smenu li:hover,.smenu_fix li:hover{background:#dbe4ea;}
.smenu li a,.smenu_fix li a{
  font-size: 15px;
  color:#666;
}
.smenu li:hover a,.smenu_fix li:hover a{color:#000;}

.bg_box{   /*서브배경박스*/
	display:none;
	position:absolute;
	top:140px; 
	width:100%;
	height:201px;  /* 주메뉴바에 상하 border로 인해 오차 나는 부분때문에 수정 */
	background:#fff;	
}


/* ////////////// 스크롤바 내릴때 나오는 탑메뉴 fix */
.logo_fix{
	position:absolute;
	top:2px;
	left:30px;
}

.gnb_fix{
	width:100%;
	height:50px;
	border-top:1px solid #989a9a;
	border-bottom:1px solid #989a9a;
	background:rgba(51,102,204,0.6);
	text-align:center;
	position:fixed;  /*스크롤바 내리면 나오는 위치+고정*/
	top:0px;
	left:0px;
	z-index:10000;
	margin-top:-140px;   /*안보이게 위로 올려놓음->jQuery에서 스크롤 움직일때 나오게 함*/
	/*background:pink;*/
}


section{
	width:1200px;
	height:1500px;
	margin:auto;
	background:skyblue;
}
footer{
	width:1200px;
	height:100px;
	margin:auto;
	background:gray;
}