@import url(common.css);

body {
	font-family: 'Noto Sans', sans-serif;
	background: #eee;
}

header{
  width: 100%;
  height: 50px;
  background-color: #2b2f3a;
}
nav{
  width: 1200px;
  height: inherit;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
nav h1{ /* logo */
  width: 30%;
}

/* Main Menu */
.gnb{
  /* border: 1px solid yellow; */
  width: 70%;
  display: flex;
	justify-content: space-around;
}
.gnb .main{
  /* border: 1px solid red; */
  width: 150px;
  text-align: center;
}
.gnb>.main>a{
  /* border: 1px solid blue; */
  position: relative;
  display: block;
  width: inherit;
  height: 50px;
  color: #7a8189;
  font-size: 15px;
	font-weight: 600;
  box-sizing: border-box;
  line-height: 50px; 
}
.gnb>.main>a:after{
  content:"\f0dd";
	font-family: fontawesome;
	position: absolute;
  right: 10px;
  color: #7a8189;
}
.gnb>.main:hover>a{color: #fff;}
.gnb>.main:hover>a:after {color: #fff;}

/* Sub Menu*/
.sub {
	display: none;  /*서브메뉴 감추기->jQuery에서 보이게 함*/
	background: #fff;
}
.sub li{
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #eee;
}
.sub li a {
	color: #666;
	font-size: 14px;
}
.sub li:hover {background: #dbe4ea;}